.blog-item {
    background-color: white;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: -30px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 100px;
}
.blog-item__heading {
    font-weight: 700;
    font-size: 42px;
}
.blog-item__img {
    max-width: 785px;
    max-height: 386px;
}
.blog-item__time {
    display: block;
}
.blog-item__call {
    width: fit-content;
}
.blog-item .path__wrapper {
    padding-top: 84px;
}
.blog-item__text--red {
    padding: 30px;
    background-color: var(--color-pink);
    border-radius: 50px;
}
.article-bottom__option {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.article-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
}
.article-bottom__link {
    background-color: var(--color-pink);
    color: var(--color-red);
}
.article-bottom__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
}
.article-bottom {
    padding-top: 100px;
    padding-bottom: 50px;
}
