/* galley */

.photo-gallery {
    background: white;
}
.photo-wrapper {
    background-color: var(--color-silver);
    border-radius: var(--border-raduis-defalut);
    padding: 80px 90px;
}
.photo-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.photo-gallery-prev,
.photo-gallery-next {
    width: 46px;
    height: 46px;
    cursor: pointer;
}
.photo-gallery__slide {
    height: 200px;
}
.photo-gallery__slide {
    height: 384px;
}
.photo-gallery__slide {
    height: 384px;
}
.photo-gallery__img {
    height: 288px;

    background-color: var(--color-grayest);
    border-radius: var(--border-raduis-defalut);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 0.5s;
}
.photo-gallery__slide.swiper-slide-next .photo-gallery__img {
    height: 384px;
}
.photo-gallery__swiper .photo-gallery__wrapper {
    height: 360px;
    position: relative;
}
.photo-gallery__swiper {
    margin-top: 100px;
}
.photo-gallery__swiper .swiper-pagination-bullet {
    width: 40px;
    height: 8px;
    border-radius: 35px;
    transition: 0.2s;
    background: var(--color-pink);
    opacity: 1;
}
.photo-gallery__swiper .swiper-pagination-bullet-active {
    width: 71px;
    height: 8px;

    background: var(--color-red);
}
.photo-gallery__paraf {
    font-weight: 500;
    font-size: 16px;
    max-width: 950px;

    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--color-grayest);
}
.photo-gallery__option {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    position: relative;
    height: 54px;
}
.photo-gallery__button-prev,
.photo-gallery__button-next {
    position: absolute;
    top: -60px;
    right: 35px;
    z-index: 1;
}
.photo-gallery__button-prev {
    right: 100px;
    transform: rotate(180deg);
}
.photo-gallery__button-next {
    top: -57px;
}
.photo-gallery {
    padding-bottom: 100px;
}
.photo-gallery__heading {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
}
@media (max-width: 1440px) {
    .your-house__header {
        flex-wrap: wrap;
        gap: 20px;
    }
    .photo-wrapper {
        padding: 20px;
    }
    .photo-header {
        flex-wrap: wrap;
        gap: 20px;
    }
    .photo-gallery__swiper {
        margin-top: 28px;
    }
}
@media (max-width: 992px) {
    .photo-gallery__option {
        opacity: 0;
        pointer-events: none;
    }
    .photo-gallery__slide.swiper-slide-next .photo-gallery__img {
        height: 288px;
    }
    .photo-gallery__swiper .photo-gallery__wrapper {
        height: 304px;
    }
    .photo-gallery__heading {
        font-size: 24px;
    }
    .photo-gallery {
        padding-top: 40px;
    }
    .photo-gallery {
        padding-bottom: 40px;
    }
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    margin-top: 20px !important;
}
/* end */
/* watch section */
.watch-this {
    background-color: white;
    border-bottom-left-radius: var(--border-raduis-defalut);
    border-bottom-right-radius: var(--border-raduis-defalut);
    padding-bottom: 100px;
}
.watch-this__container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.watch-this__heading {
    min-width: 506px;

    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
}
.watch-this__wrapper > .watch-this__slide {
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: red;
    border-radius: var(--border-raduis-defalut);
}
@media (max-width: 992px) {
  .watch-this__container {
    flex-wrap: wrap;
  }
  .watch-this__heading {
    min-width: auto;
  }
  .watch-this__heading {
    font-size: 24px;
    line-height: 24px;
  }
  .watch-this__wrapper > .watch-this__slide {
    height: 345px;
  }
  .watch-this {
    padding-bottom: 40px;
  }
  .photo-gallery__swiper .photo-gallery__wrapper {
      padding-bottom: 20px;
  }
}
/* end */
.call__button {
    color: #fff;
    background-color: var(--color-red);
    padding: 9px 24px 9px 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 70px;
    font-feature-settings: "pnum" on, "lnum" on;
}
.call__img {
    width: 16px;
    height: 16px;
}
.phone__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: var(--color-red);
    font-feature-settings: "pnum" on, "lnum" on;
}

.offer__wrapper {
    padding: 100px 0;
}
.offer__heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.offer__img {
    border-radius: 50px;
    overflow: hidden;
    height: 373px;
    background-image: url("/resources/images/excursions/offer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.offer__title {
    color: var(--color-black);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
}
.offer__text {
    color: var(--color-grayest);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
}
.offer__main-button {
    margin-right: 50px;
}
.default__button.offer__secondary-button {
    color: var(--color-red);
    transition: 0.3s;
    background-color: var(--color-pink);
    width: fit-content;
    font-weight: 700;
}
.offer__advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-top: 50px;
}
.offer__advantage {
    padding: 32px 30px;
    background-color: white;
    border-radius: var(--border-raduis-defalut);
    display: flex;
    align-items: center;
    gap: 20px;
}
.offer__advantage-image {
    height: 57px;
    width: 57px;
}
.offer__advantage-text {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-black);
    max-width: 230px;
}

#for-whom {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    border-top-left-radius: var(--border-raduis-defalut);
    border-top-right-radius: var(--border-raduis-defalut);
}
.for-whom__wrapper {
    gap: 50px;
    flex-direction: row;
    display: flex;
}
.for-whom__heading {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
}
.for-whom__heading h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.for-whom__heading h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--color-grayest);
}
.for-whom__content {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
}
.for-whom__row {
    display: grid;
    gap: 50px;
}
.for-whom__row-first {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.for-whom__row-last {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.for-whom__img {
    border-radius: 50px;
    gap: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.for-whom__img-first {
    background-image: url(/resources/images/excursions/for-whom-1.jpg);
    min-width: 321px;
    min-height: 283px;
}
.for-whom__img-last {
    background-image: url(/resources/images/excursions/for-whom-2.jpg);
    min-width: 557px;
    min-height: 283px;
}
.for-whom__item {
    border-radius: 50px;
    gap: 50px;
    padding: 50px;
    background-color: var(--color-beige);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.for-whom__item h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-red);
}
.for-whom__item h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grayest);
    margin: 0;
}
#slider {
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 100px;
}
.slider__wrapper {
    background-color: var(--color-silver);
    border-radius: 50px;
    padding: 80px 90px;
    gap: 50px;
    overflow: hidden;
}
.slider__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.slider__header h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    min-width: 469px;
}
.slider__header h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--color-grayest);
    margin: 0;
}
.slider__content {
    position: relative;
    height: auto !important;
    padding-top: 120px;
    overflow: hidden;
}
.slider__item {
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.callback__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.callback__heading h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
}
.callback__heading h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
.callback__text {
    background-color: var(--color-pink);
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 30px;
}
.callback__text h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--color-red);
    margin: 0;
}
.callback__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 10px;
}
.callback__input {
    min-width: 320px;
    border-radius: 70px;
    border: 1px solid white;
    padding: 16px 20px;
    color: var(--color-grayest);
    box-sizing: border-box;
}
.callback__btn {
    color: white;
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    min-width: 235px !important;
    border-radius: var(--border-raduis-defalut);
}
.callback__content-hidden {
    display: none;
    text-align: center;
    min-width: 800px;
}
.callback__approval {
    color: var(--color-grayest);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}
.callback__approval span {
    color: var(--color-red);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

@media (max-width: 1440px) {
    .footer-contact__title {
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .callback__content-hidden {
        display: none;
        text-align: center;
        min-width: auto;
    }
}

.imp-info__wrapper {
    display: flex;
    gap: 30px;
    margin-top: 13px;
}
.imp-info__link {
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
}
.imp-info__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    font-feature-settings: "pnum" on, "lnum" on;
}
.footer-contact__link,
.footer-pages__link,
.imp-info,
.footer-info__paraf,
.imp-info__link,
.footer-contact__link:visited,
.footer-pages__link:visited,
.imp-info:visited,
.imp-info__link:visited {
    color: var(--color-grayest);
}
.br {
    display: none;
}
.modal-callback {
    border-radius: 50px 50px 0px 0px;
    background-color: white;
    max-width: 1620px;
    margin: 0 auto;
    position: fixed;
    top: 100px;
    z-index: 99999999;
    left: 0;
    right: 0;
    display: none;
}
.modal-callback__wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding: 20px 100px 70px 50px;
}
.modal-callback__wrapper img {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 30px;
    right: 30px;
}
.modal-callback__header {
    width: 172.5px;
    border: 3px solid var(--color-gray);
    border-radius: 3px;
    margin: 0 auto 40px auto;
}
.modal-callback__body {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.modal-callback__body .callback__approval {
    margin-top: 20px;
}
.modal-callback__heading h2 {
    font-size: 31px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    color: var(--color-black);
    margin-bottom: 30px;
}
.modal-callback__heading h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--color-grayest);
    margin: 0;
}
.modal-callback__form {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.modal-callback__form > div {
    display: grid;
    flex-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.modal-callback__form .callback__input {
    background-color: var(--color-silver);
    color: var(--color-grayest);
    min-width: auto;
}
.modal-callback__form .callback__btn {
    border: 0;
    background-color: var(--color-red);
    color: white;
    min-width: auto;
}
.modal-callback__thanks {
    display: none;
}
.modal-callback__thanks .modal-callback__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}
.call__img {
    padding-right: 10px;
}
@media (max-width: 1690px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
    .call__button {
        display: none;
    }
}
@media (max-width: 992px) {
    #offer {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .offer__wrapper {
        padding: 0;
    }
    .offer__heading {
        grid-template-columns: 1fr;
        gap: 40px;
        grid-template-rows: 1fr auto;
    }
    .offer__title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .offer__text {
        font-size: 12px;
        line-height: 12px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .offer__main-button {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .offer__img {
        min-height: 179px;
        height: auto;
        border-radius: 25px;
    }
    .offer__advantages {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 40px;
    }
    .offer__advantage {
        padding: 20px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    .offer__advantage-text {
        font-size: 12px;
        line-height: 12px;
    }
    #for-whom {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .for-whom__wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .for-whom__heading {
        gap: 20px;
    }
    .for-whom__heading h2 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .for-whom__heading h4 {
        font-size: 12px;
        line-height: 12px;
        margin: 0;
    }
    .for-whom__content {
        gap: 20px;
    }
    .for-whom__item {
        padding: 20px;
        border-radius: 25px;
        gap: 20px;
    }
    .for-whom__item h3 {
        font-size: 16px;
        line-height: 16px;
        white-space: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        /* legacy properties */
        -webkit-hyphenate-limit-before: 3;
        -webkit-hyphenate-limit-after: 2;

        /* current proposal */
        -moz-hyphenate-limit-chars: 6 3 2; /* not yet supported */
        -webkit-hyphenate-limit-chars: 6 3 2; /* not yet supported */
        -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
        word-wrap: break-word;
    }
    .br {
        display: inline-block;
    }
    .for-whom__item h4 {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }
    .for-whom__row {
        gap: 20px;
    }
    .for-whom__img-first {
        display: none;
    }
    .for-whom__img-last {
        min-width: auto;
        min-height: 131.5px;
    }
    .for-whom__img {
        border-radius: 25px;
    }
    .for-whom__row-first {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .for-whom__row-last {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .callback__wrapper {
        flex-flow: column nowrap;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .callback__heading h2 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .callback__heading h4 {
        font-size: 12px;
        line-height: 12px;
    }
    .callback__text {
        margin-bottom: 20px;
    }
    .callback__text h4 {
        font-size: 12px;
        line-height: 12px;
    }
    .callback__form {
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .callback__input {
        min-width: auto;
    }
    .callback__btn {
        font-size: 12px;
        line-height: 12px;
    }
    .callback__approval {
        font-size: 10px;
        line-height: 10px;
    }
    .callback__approval span {
        font-size: 10px;
        line-height: 10px;
    }
    .modal__open {
        margin-right: 0;
    }

    .default__button {
        font-size: 12px;
    }

    .heading-info {
        display: none;
    }

    .tooltip .tooltiptext {
        left: -130px;
    }

    .map-container-footer {
        display: none;
    }

    :root {
        --border-raduis-defalut: 25px;
    }

    .imp-info__wrapper {
        flex-flow: column nowrap;
    }
    .mobile__social {
        display: block;
        padding-bottom: 20px;
    }
    .pc__social,
    .pc-block {
        display: none;
    }
}
