.your-house__img {
    height: 45px;
    width: 38px;
}
.your-house {
    background: white;
    padding-top: 100px;
    border-top-left-radius: var(--border-raduis-defalut);
    border-top-right-radius: var(--border-raduis-defalut);
    color: var(--color-black);
}
.your-house__section {
    background-color: var(--color--background);
    border-radius: var(--border-raduis-defalut);
    padding: 83px 90px;
}

.your-house__header {
    display: flex;
    flex: 1 0 50%;
    align-items: flex-end;
}
.your-house__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
    flex: 1 0 52.5%;
}
.your-house__wrapper {
    padding-top: 50px;
    display: flex;
    /* gap: 50px; */
}
.your-house_icno {
    width: 46px;
}
.your-house__swipers {
    padding: 0 40px;
}
.your-house__button-prev {
    transform: rotate(180deg);
}
.swiper-slide > .your-house__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 34px;
    background-color: white;
    border-radius: var(--border-raduis-defalut);
}
.your-house__wrapper > .your-house__button-prev {
    left: 20px !important;
    right: auto;
}
.your-house__wrapper > .your-house__button-next {
    left: 20px !important;
    right: auto;
}
.your-house__button-prev::after {
    content: "" !important;
}
.your-house__button-next::after {
    content: "" !important;
}
.your-house__small-text,
.your-house__paraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--color-grayest);
}
.your-house__act {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    word-wrap: break-word;
}
.your-house__img {
    width: 57px;
    height: 57px;
}
.building-maps {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    color: var(--color-black);
}
.building-maps__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
    margin-bottom: 30px;
}
.building-maps__paraf {
    margin-bottom: 50px;
    color: var(--color-grayest);
    max-width: 784px;
}
.why-us__wraps {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.stable {
    background-color: white;

    display: flex;
    color: var(--color-black);
    gap: 50px;
}
.stable__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.stable__heading {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;

    font-feature-settings: "pnum" on, "lnum" on;
    margin-bottom: 30px;

    min-width: 500px;
}
.stable-card {
    padding: 50px;
    border-radius: var(--border-raduis-defalut);
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.stable__header {
    max-width: 500px;
}
.stable-card__heading {
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    color: var(--color-red);

    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.stable-card__heading-small {
    font-size: 16px;
    line-height: 100%;
    margin-left: -5px;
    margin-bottom: 8px;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: nowrap;
}
.stable__video {
    color: var(--color-black);

    background-color: var(--color--background);
    background-image: url(/resources/images/components/play.svg);
    background-position: center center;
    background-repeat: no-repeat;

    padding: 50px;
    border-radius: var(--border-raduis-defalut);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.stable__video:visited {
    color: var(--color-black);
}
.stable-card__paraf,
.stable__video-paraf,
.stable__text-paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.stable__video-h1 {
    font-weight: 700;
    font-size: 16px;
}
.all-services {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    color: var(--color-black);
}
.all-services__inner {
    padding: 50px 90px;
    background-color: var(--color--background);
    border-radius: var(--border-raduis-defalut);
    margin-top: 50px;
}
.all-services__heading {
    font-feature-settings: "pnum" on, "lnum" on;
    font-weight: 700;
    font-size: 42px;
}
.services-filters__img {
    width: 57px;
    height: 57px;
}
.services-filters__item {
    background-color: white;
    border-radius: var(--border-raduis-defalut);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services-filters__header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.services-filters__option {
    display: flex;
    gap: 50px;
}
.services-filters__heading {
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--color-grayest);
    font-weight: 700;
    font-size: 25px;
}
.services-filters__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    height: 423px;
    padding-right: 50px;
}
.services-filters__head {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services-filters__wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    background-color: #f5f5f5;
}

.services-filters__wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f500;
}

.services-filters__wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-pink);
}
.services-filters__button {
    background-color: var(--color-pink);
    color: var(--color-red);
    font-weight: 700;
    font-size: 16px;
}
.services-filters__button--active {
    background-color: var(--color-red);
    color: white;
}

.services-filters__item {
    display: none;
}
.services-filters__item.support {
    display: flex;
}
.map-container {
    border-radius: var(--border-raduis-defalut);
}

.building-maps .map-container *.ymaps-2-1-79-inner-panes {
    border-radius: var(--border-raduis-defalut);
}
.building-maps .map-container * .ymaps-2-1-79-map-bg {
    background-image: none;
}
.building-maps .ymaps-2-1-79-float-button {
    background-color: var(--color-pink) !important;
    border-radius: var(--border-raduis-defalut) !important;
}
.building-maps .ymaps-2-1-79-zoom__runner {
    background-color: var(--color-red) !important;
}

.photo-gallery__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
    font-feature-settings: "pnum" on, "lnum" on;
    flex: 1 0 34%;
}

/* galley */

.photo-gallery {
    background: white;
}
.photo-wrapper {
    background-color: var(--color-silver);
    border-radius: var(--border-raduis-defalut);
    padding: 80px 90px;
}
.photo-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.photo-gallery {
    padding-top: 100px;
}
.photo-gallery-prev,
.photo-gallery-next {
    width: 46px;
    height: 46px;
    cursor: pointer;
}
.photo-gallery__slide {
    height: 200px;
}
.photo-gallery__slide {
    height: 384px;
}
.photo-gallery__slide {
    height: 384px;
}
.photo-gallery__img {
    /* width: 418px; */
    height: 288px;

    background-color: var(--color-grayest);
    border-radius: var(--border-raduis-defalut);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 0.5s;
}
.photo-gallery__slide.swiper-slide-next .photo-gallery__img {
    height: 384px;
}
.photo-gallery__swiper .photo-gallery__wrapper {
    height: 360px;
    position: relative;
}
.photo-gallery__swiper {
    margin-top: 100px;
}
.photo-gallery__swiper .swiper-pagination-bullet {
    width: 40px;
    height: 8px;
    border-radius: 35px;
    transition: 0.2s;
    background: var(--color-pink);
    opacity: 1;
}
.photo-gallery__swiper .swiper-pagination-bullet-active {
    width: 71px;
    height: 8px;

    background: var(--color-red);
}
.photo-gallery__paraf {
    font-weight: 500;
    font-size: 16px;

    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--color-grayest);
}
.photo-gallery__option {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    position: relative;
    height: 54px;
}
.photo-gallery__button-prev,
.photo-gallery__button-next {
    position: absolute;
    top: -60px;
    right: 35px;
    z-index: 1;
}
.photo-gallery__button-prev {
    right: 100px;
    transform: rotate(180deg);
}
.photo-gallery__button-next {
    top: -57px;
}
/* end */
.order-consultation {
    border-bottom-left-radius: var(--border-raduis-defalut);
    border-bottom-right-radius: var(--border-raduis-defalut);
}

@media (max-width: 1690px) {
    .stable {
        flex-wrap: wrap;
    }
    .stable__video {
        height: 371px;
        margin: 0 auto;
    }
    .services-filters__option {
        overflow-x: scroll;
    }
    .services-filters__option::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        border-radius: 0px;
        background-color: #f5f5f500;
    }

    .services-filters__option::-webkit-scrollbar {
        width: 0px;
        background-color: #00000000;
    }

    .services-filters__option::-webkit-scrollbar-thumb {
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 6px rgba(62, 58, 58, 0);
        background-color: rgba(0, 0, 0, 0);
    }
}
@media (max-width: 1440px) {
    .your-house__header {
        flex-wrap: wrap;
        gap: 20px;
    }
    .photo-wrapper {
        padding: 20px;
    }
    .photo-header {
        flex-wrap: wrap;
        gap: 20px;
    }
    .photo-gallery__swiper {
        margin-top: 20px;
    }
    .stage__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .stage-pagination {
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        gap: 20px;
    }
    .stage-pagination::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        border-radius: 0px;
        background-color: #f5f5f500;
    }

    .stage-pagination::-webkit-scrollbar {
        width: 0px;
        background-color: #ffffff00;
    }

    .stage-pagination::-webkit-scrollbar-thumb {
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: rgba(85, 85, 85, 0);
    }
    .stage-inner {
        display: block;
    }
    .stage-right {
        height: 200px;
        margin-bottom: 20px;
    }
    .stage-left {
        max-width: 100%;
    }
    .stage-left {
        height: fit-content;
    }
    .spec {
        flex-wrap: wrap;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .constructor__wrapper {
        flex-wrap: wrap;
    }
    .ganeral-wrapper {
        min-width: fit-content;
        flex-wrap: wrap;
    }
    .stage-left {
        padding: 20px 40px;
    }

    .spec-button-next,
    .spec-button-prev {
        display: none;
    }
    .spec__profile {
        font-size: 10.2px;
    }
    .spec-pagination {
        padding-bottom: 10px;
    }
    .spec__header {
        min-width: fit-content;
    }
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    .stable-card__paraf {
        display: none;
    }
    .stable-card {
        padding: 20px;
    }
    .stable {
        display: flex;
        flex-wrap: wrap;
    }
    .stable__list {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .stage__heading {
        font-size: 24px;
    }
    .stage__wrapper {
        margin-top: 20px;
    }
    .stage__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .stage-pagination {
        display: flex;
        flex-direction: row;
        gap: 20px;
        max-width: fit-content;
        padding-bottom: 10px;
    }
    .stage__wrapper * .swiper-pagination-bullet {
        padding: 2px 15px;
        width: 120px;
        white-space: nowrap;
    }
    .spec__heading {
        min-width: fit-content;
        font-size: 24px;
    }

    .your-house__section {
        padding: 42px;
    }
    .your-house__swipers {
        padding: 0 40px !important;
    }
    .about-slogan__heading,
    .your-house__heading,
    .building-maps__heading,
    .stable__heading,
    .all-services__heading {
        font-size: 24px;
    }
    .about-slogan__text,
    .stable__text-paraf,
    .building-maps__paraf {
        font-size: 12px;
    }
    .your-house {
        padding-top: 40px;
    }
    .building-maps {
        padding-top: 40px;
    }
    .stable__list {
        gap: 20px;
    }
    .your-house__header {
        gap: 30px;
    }
    .stable {
        gap: 20px;
    }
    .stable__list {
        margin-top: 10px;
    }
    .all-services {
        padding-top: 40px;
    }
    .all-services__inner {
        margin-top: 25px;
        padding: 20px;
    }
    .services-filters__wrapper {
        padding-right: 15px;
    }
    .services-filters__button {
        min-width: fit-content;
    }
    .services-filters__option {
        gap: 10px;
    }
    .photo-gallery__option {
        opacity: 0;
        pointer-events: none;
    }
    .photo-gallery__slide.swiper-slide-next .photo-gallery__img {
        height: 288px;
    }
    .photo-gallery__swiper .photo-gallery__wrapper {
        height: 304px;
    }
    .photo-gallery__heading {
        font-size: 24px;
    }
    .photo-gallery {
        padding-top: 40px;
    }
    .your-house__wrapper {
        padding-top: 20px;
    }
    .map-container {
        height: 237px;
    }
    .ymaps-2-1-79-inner-panes {
        height: auto;
    }
    .building-maps {
        padding-bottom: 40px;
    }
    .services-filters__heading {
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .services-filters__button {
        font-size: 12px;
    }
    .stable__video-paraf {
        display: none;
    }
}
@media (max-width: 768px) {
    .services-filters__item,
    .services-filters__header {
        flex-direction: column;
        align-items: flex-start;
    }
    .services-filters__header {
        margin-bottom: 20px;
    }
    .photo-gallery__swiper {
        padding: 0 50px;
    }
    .your-house__swipers {
        padding: 0 20px !important;
    }
}
