:root {
    --color--background: #ababab;
    --color-gray: #e1e1e1;
    --color-grayest: #868686;
    --color-black: #404040;
    --color-beige: #feedee;
    --color-pink: #fcdbdd;
    --color-red: #f04b54;
    --color-silver: #f3f4f7;
    --color-blue: #2f3d61;
    --swiper-theme-color: rgb(117, 76, 76);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: var(--color--background);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    font-family: inherit;
}
h1,
h2,
h3,
p,
small,
span {
    margin: 0;
}
a {
    display: block;
}

/* map */
.map-container {
    background-color: rgb(196, 196, 196);
    width: -webkit-fill-available;
    height: 600px;
}

/* default styles */
.default__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;

    color: var(--color-black);
}
.default__button {
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;

    padding: 16px 20px;
    background: var(--color-red);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 70px;

    outline: none;
}
.default__button:focus {
    border: 1px solid rgba(0, 0, 0, 0.408);
}
.default__button:hover {
    opacity: 0.8;
}

/* header */
header {
    background-color: white;
    border-radius: 0px 0px 50px 50px;
}
.header-select {
    background-color: red;
}
.header__option {
    display: flex;
}
.header__item {
    display: flex;
}
.header__logo {
    width: 286px;
    height: 39px;
}
.header__link {
    font-weight: 500;
    font-size: 16px;

    color: #404040;
}
.header__link:visited {
    color: #404040;
}
.header__link:hover {
    opacity: 0.6;
}
.navigation {
    background-color: white;
    border-radius: 0px 0px 50px 50px;
}

.geo__button {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 16px;

    color: var(--color-blue);
    outline: none;
}
.geo__button:focus {
    border: 1px solid rgba(0, 0, 0, 0.408);
}
.geo__img {
    width: 24px;
    height: 24px;
}
.search,
.login {
    background-color: #ffffff;
    border-radius: 70px;
    font-size: 16px;
    color: var(--color-blue);
    padding: 5px 20px;

    display: flex;
    align-items: center;
    outline: none;
}
.search:focus,
.login:focus {
    border: 1px solid rgba(0, 0, 0, 0.408);
}
.login {
    color: var(--color-red);
}

/* for media */
.container,
.navigation {
    margin: 0 auto;
    max-width: 1620px;
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
    .container,
    .navigation {
        max-width: 992px;
        padding: 0 10px;
    }
}
@media (max-width: 1440px) {
    .container,
    .navigation {
        max-width: 1100px;
    }
}
@media (max-width: 1620px) {
    .container,
    .navigation {
        max-width: 1200px;
    }
}
