/*MORTGAGE CALCULATOR*/
.mortgage-calculator{
    flex-wrap: nowrap
}
.section_heading{
    font-weight: 700;
    font-size: 42px;
    font-style: normal;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-black);

    margin-bottom: 50px;
}
form.mortgage-calculator h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;

    margin: 0 0 10px 0;

    color: var(--color-grayest);
}
form.mortgage-calculator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form.mortgage-calculator .block{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/

    min-width: 507px;
}

#mortgage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 16px 20px;
    margin-bottom: 10px;
    gap: 15px;
    border-radius: 70px;
}

.calcus-left-text{
    background-color: var(--color-beige);
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-bottom: 30px;
    gap: 10px;

    font-size: 16px;
}
.calcus-left-text li {
    list-style: disc;
    list-style-position: inside;

    padding-left: 10px;
}

form.mortgage-calculator .range {
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
}

form.mortgage-calculator .range .input {
    background-color: #ffffff;
    border-radius: 70px;
    padding: 20px 20px;
    gap: 15px;
    left: 0px;
    right: 0px;
    align-items: center;
}
form.mortgage-calculator .range input {
    display: flex;
    flex-direction: row;

    position: absolute;
}

form.mortgage-calculator .range .input h4{
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: var(--color-black);
}
.space__between{
    display: flex;
    justify-content: space-between;
}

form.mortgage-calculator .range .input h4.percent{
    color: var(--color-grayest);
}

/*Midlle Block Content*/
.mortgage-calculator-middle.block{
    align-items: flex-start;
    padding: 45px;
    /*gap: 30px;*/

    background: #ffffff;
    border-radius: 50px;
}

.block__heading{
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-black);

    margin-bottom: 30px;
}
