.about-router__img {
    width: 46px;
    height: 46px;
}

.about-router__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__wrapper {
    padding-bottom: 70px;
    display: flex;
    flex: 1 1 50%;
    gap: 50px;
}
.about-router {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.about-router__item {
    padding: 37px 30px;
    border-radius: 50px;
    background-color: var(--color-pink);
}
.about-router__link {
    width: 100%;
    color: var(--color-black);
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-slogan {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-slogan__heading {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;

    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--color-black);
}
.about-slogan__text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.about-image {
    border-radius: 50px;
    height: 100%;
    margin: auto;
}
