.article__info {
    color: var(--color-black);
    font-feature-settings: "pnum" on, "lnum" on;

    display: flex;

    flex-direction: column;
    gap: 20px;
}
.article__heading {
    font-weight: 700;
    font-size: 42px;
}
.article__paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.article__time {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
    margin-top: 30px;
}
.article-item {
    background-color: white;
    padding: 50px 89px;
    border-radius: var(--border-raduis-defalut);
}

.article__img,
.article__link {
    width: 46px;
    height: 46px;
}
.article-item {
    display: flex;
    max-width: 605px;
}
/* font-weight: 700; */
/* font-size: 42px; */
/* line-height: 100%; */
@media (max-width: 1200px) {
    .article-item {
        padding: 20px;
    }
    .article__heading {
        font-size: 24px;
    }
    .article__paraf,
    .article__time {
        font-size: 12px;
    }
    .article__info {
        gap: 20px;
    }
}
