.faq__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}
.faq__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: var(--border-raduis-defalut);
    cursor: pointer;
    transition: 0.2s;
}
.faq__icon {
    cursor: pointer;
    width: 46px;
    height: 46px;
    transition: 0.2s;
}
.faq__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-weight: 700;
    font-size: 25px;
}
@keyframes slidein {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
@keyframes slideout {
    from {
        height: 100px;
    }
    to {
        height: 0px;
    }
}
.faq__content {
    overflow: hidden;
    animation: slideout 0.3s ease forwards;
}
.faq__item-active .faq__content {
    transition: 0.3s;
    padding-top: 20px;
    animation: slidein 0.3s ease forwards;
}
.faq__item-active .faq__icon {
    transition: 0.3s;
    transform: rotate(90deg);
}
.faq {
    color: var(--color-black);
    padding-top: 100px;
    padding-bottom: 100px;
}
.faq__heading {
    font-weight: 700;
    font-size: 42px;
}
.faq__header {
    display: flex;
    justify-content: space-between;
}
.faq__button {
    color: var(--color-red);
    background-color: var(--color-pink);
}
.mobile-block {
    display: none;
}
@media (max-width: 992px) {
    .pc-block {
        display: none;
    }
    .mobile-block {
        display: block;
    }
    .faq__heading {
        font-size: 24px;
    }
    .faq__toggle {
        font-weight: 700;
        font-size: 16px;
    }
    .faq__wrapper {
        padding-top: 20px;
        gap: 10px;
    }
    .faq {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
