.peculiarities__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.peculiarities__head {
    display: flex;
    gap: 50px;
    height: 558px;
    padding-top: 50px;
}
.peculiarities__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.peculiarities__card {
    border-radius: var(--border-raduis-defalut);
    padding: 30px 50px;
    background-color: rgb(91, 113, 113);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    flex: 1 1 35%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.flex-one {
    flex: 1;
}
.peculiarities {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    border-radius: var(--border-raduis-defalut);
}
.peculiarities__heading {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--color-black);
}
.peculiarities__body {
    height: 254px;
    display: flex;
    gap: 50px;
}
.peculiarities__body-card {
    border-radius: var(--border-raduis-defalut);
    padding: 30px 50px;
    background-color: rgb(91, 113, 113);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.peculiarities__paraf {
    font-weight: 700;
    font-size: 25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: white;
}
.datepiker__input {
    display: none;
}
.project-review {
    margin-top: 100px;
    display: flex;
    padding: 90px;
    border-radius: var(--border-raduis-defalut);
    gap: 50px;
    color: var(--color-black);
    background-color: var(--color--background);
}
.project-review__paraf {
    max-width: 417px;
    margin-top: 50px;
}
.datepiker {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}
.datepiker__input:checked + .datepiker__label {
    background-color: var(--color-red);
}
.datepiker__label {
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    padding: 20px 35px;
    background-color: var(--color-pink);
    border-radius: var(--border-raduis-defalut);
    cursor: pointer;
    transition: 0.2s;
}
.datepiker__list-inputs {
    display: flex;
    gap: 30px;
}
.datepiker__title {
    color: var(--color-black);
    font-weight: 700;
    font-size: 16px;
}
.datepiker__day {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-red);
}
.datepiker__input:checked + .datepiker__label > .datepiker__day {
    color: white;
}
.datepiker__input:checked + .datepiker__label > .datepiker__title {
    color: white;
}
.project-review__heading {
    font-weight: 700;
    font-size: 42px;
    max-width: 417px;
}
.datepiker__user-info__wrapper {
    display: flex;
    gap: 50px;
}
.user-info__item {
    flex: 1;
    padding: 16px 20px;
}
.datepiker__policy {
    display: flex;
    gap: 4px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
}
.datepiker__policy a {
    color: var(--color-red);
}
.datepiker__user-info__wrapper > .user-info__item {
    font-weight: 600;
}
.datepiker__option > .custom-select-dropdown {
    min-width: 580px;
}
.datepiker__flex {
    display: flex;
    justify-content: space-between;
}
.label_percents_toggle.space__between {
    display: flex;
    align-items: center;
    justify-content: center;
}
.space__between {
    display: flex;
    align-items: center;
    gap: 31px;
}
.toltip-button__img {
    width: 20px;
    height: 20px;
}
.tooltip {
    position: relative;
    display: block;
    margin-top: 3px;

    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    top: -5px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.label_percents_toggle.space__between h4 {
    display: flex;
    gap: 11.5px;
}
