.peculiarities__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.peculiarities__head {
    display: flex;
    gap: 50px;
    height: 558px;
    padding-top: 50px;
}
.peculiarities__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.peculiarities__card {
    border-radius: var(--border-raduis-defalut);
    padding: 30px 50px;
    background-color: rgb(91, 113, 113);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    flex: 1 1 35%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.flex-one {
    flex: 1;
}
.peculiarities {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    border-radius: var(--border-raduis-defalut);
}
.peculiarities__heading {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--color-black);
}
.peculiarities__body {
    height: 254px;
    display: flex;
    gap: 50px;
}
.peculiarities__body-card {
    border-radius: var(--border-raduis-defalut);
    padding: 30px 50px;
    background-color: rgb(91, 113, 113);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.peculiarities__paraf {
    font-weight: 700;
    font-size: 25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: white;
}
.datepiker__input {
    display: none;
}
.project-review {
    margin-top: 100px;
    display: flex;
    padding: 90px;
    border-radius: var(--border-raduis-defalut);
    gap: 50px;
    color: var(--color-black);
    background-color: var(--color--background);
}
.project-review__paraf {
    max-width: 417px;
    margin-top: 50px;
}
.datepiker {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}
.datepiker__input:checked + .datepiker__label {
    background-color: var(--color-red);
}
.datepiker__label {
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    padding: 20px 35px;
    background-color: var(--color-pink);
    border-radius: var(--border-raduis-defalut);
    cursor: pointer;
    transition: 0.2s;
}
.datepiker__list-inputs {
    display: flex;
    gap: 30px;
}
.datepiker__title {
    color: var(--color-black);
    font-weight: 700;
    font-size: 16px;
}
.datepiker__day {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-red);
}
.datepiker__input:checked + .datepiker__label > .datepiker__day {
    color: white;
}
.datepiker__input:checked + .datepiker__label > .datepiker__title {
    color: white;
}
.project-review__heading {
    font-weight: 700;
    font-size: 42px;
    max-width: 417px;
}
.datepiker__user-info__wrapper {
    display: flex;
    gap: 50px;
}
.user-info__item {
    flex: 1;
    padding: 16px 20px;
}
.datepiker__policy {
    display: flex;
    gap: 4px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
}
.datepiker__policy a {
    color: var(--color-red);
    font-size: 12px;
}
.datepiker__user-info__wrapper > .user-info__item {
    font-weight: 600;
}
.datepiker__option > .custom-select-dropdown {
    min-width: 580px;
}
.datepiker__flex {
    display: flex;
    justify-content: space-between;
}
.label_percents_toggle.space__between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.space__between {
    display: flex;
    align-items: center;
    gap: 31px;
}
.toltip-button__img {
    width: 20px;
    height: 20px;
}
.tooltip {
    position: relative;
    display: block;
    margin-top: 3px;

    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    top: -5px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.label_percents_toggle.space__between h4 {
    display: flex;
    gap: 11.5px;
}
.peculiarities__more {
    display: none;
}
@media (max-width: 1690px) {
    .project-review {
        flex-wrap: wrap;
    }
    .datepiker__flex {
        flex-direction: column;
    }
    .label_percents_toggle.space__between {
        justify-content: flex-start;
    }
    .datepiker__list-inputs {
        overflow-x: scroll;
        width: 100%;
    }
    .datepiker__list-inputs::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        border-radius: 10px;
        background-color: #f5f5f500;
    }

    .datepiker__list-inputs::-webkit-scrollbar {
        width: 12px;
        background-color: #f5f5f500;
    }

    .datepiker__list-inputs::-webkit-scrollbar-thumb {
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #72676700;
    }
}
@media (max-width: 1440px) {
    .project-review {
        padding: 20px;
    }
    .datepiker__user-info__wrapper {
        flex-direction: column;
    }
    .project-review__heading {
        max-width: fit-content;
    }
    .datepiker__label {
        padding: 10px 15px;
        font-weight: 700;
        font-size: 12px;
    }
    .smi__wrapper {
        flex-direction: column;
    }
    .dropdown-select-items {
        z-index: 2;
    }
    .project-review__heading {
        font-size: 24px;
    }
    .project-review__paraf {
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    .project-review__paraf {
        margin-top: 20px;
    }
    .project-review {
        gap: 20px;
    }
}
@media (max-width: 992px) {
    .datepiker__list-inputs {
        max-width: calc(100vw - 80px);
    }
    .datepiker__policy {
        display: inline;
        font-size: 10px;
        line-height: 5px;
    }
    .datepiker__policy a {
        font-size: 10px;
        display: inline;
    }
    .datepiker__heading {
        font-size: 16px;
    }
    .datepiker__label {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .peculiarities__more {
        display: block;
    }
    .datepiker__option > .custom-select-dropdown {
        max-width: fit-content;
        min-width: -webkit-fill-available;
    }
    .label_percents_toggle.space__between {
        flex-direction: column;
        align-items: flex-start;
    }
    .label_percents_toggle.space__between {
        gap: 0px;
    }
    .datepiker__list-inputs {
        gap: 20px;
        margin-bottom: -10px;
    }
    .datepiker {
        gap: 20px;
    }
    .datepiker__user-info__wrapper {
        gap: 20px;
    }
    .label_percents_toggle h4 {
        margin-bottom: 13px;
    }
    .peculiarities__head {
        height: auto;
        gap: 20px;
    }
    .peculiarities {
        padding-top: 40px;
    }
    .peculiarities__list {
        gap: 20px;
    }
    .peculiarities__head {
        padding-top: 20px;
    }
    .peculiarities__paraf {
        font-size: 12px;
    }
    .peculiarities__card {
        padding: 20px;
        min-height: 182px;
    }
    .flex-one {
        flex: 1 1 29%;
    }
    .project-review {
        margin-top: 50px;
    }
    .peculiarities {
        padding-bottom: 40px;
    }
    .dropdown-select-selected {
        padding: 10px;
        font-size: 12px;
    }
    .dropdown-select-items > div {
        font-size: 12px;
        padding: 10px;
    }
    .dropdown-select-selected:after {
        right: 10px;
        top: 3px;
    }
    .dropdown-select-items {
        border-radius: 9px;
    }

    .dropdown-select-selected {
        padding-right: 50px;
    }
    .label_percents_toggle .space__between {
        flex-direction: row;
    }
    .space__between {
        gap: 0;
    }
    .datepiker__user-info__wrapper > .user-info__item {
        padding: 12px 10px;
        font-size: 12px;
        font-family: "Raleway", sans-serif;
    }
    .default__button.user-info__item {
        padding: 12px 15px;
        width: fit-content;
    }
    .datepiker__policy {
        margin-top: 10px;
        font-size: 10px;
        line-height: 10%;
    }
    .datepiker__policy {
        display: inline-block;
        font-size: 10px;
        line-height: 10px;
    }
    .datepiker__policy a {
        display: inline-block;
        font-size: 10px;
        line-height: 10px;
    }
}
