.reels-video {
    height: 409px;
    border-radius: var(--border-raduis-defalut);
}
.reels-swiper {
    height: 409px;
}
.reels__heading {
    font-weight: 700;
    font-size: 42px;
    max-width: 654px;
    color: var(--color-black);
    padding-bottom: 50px;
}
.reels {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
@media (max-width: 768px) {
    .reels__heading {
        padding-bottom: 20px;
    }
    .reels {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
