.noUi-base .noUi-connect {
    background: var(--color-red);
}
.selection * .noUi-target {
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.selection {
    padding-bottom: 100px;
}
.noUi-horizontal * .noUi-handle:after {
    content: none;
}
.noUi-horizontal * .noUi-handle:before {
    content: none;
}
.noUi-horizontal * .noUi-handle {
    border-radius: 9999px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background: var(--color-red);
    cursor: pointer;
    box-shadow: none;
}
.noUi-horizontal * .noUi-handle-active {
    box-shadow: none;
}
.noUi-origin .noUi-handle {
    border-radius: 9999px !important;
    width: 18px !important;
    height: 18px !important;
    border-color: transparent !important;
    top: -8px !important;
}

.noUi-horizontal {
    height: 2px !important;
}
.selection__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.selection__slide {
    flex: 1;
}
.selection-input__rangees {
    display: flex;

    background-color: var(--color--background);
    padding: 20px;
    border-radius: var(--border-raduis-defalut);

    font-weight: 700;
    justify-content: space-between;
}
.rangees,
.rangees-square {
    max-width: 85%;
    margin-right: 150px;
    display: block;
    margin: 0;
    margin-left: 15px;
}

.selection-input__rangees {
    position: relative;
}
.line {
    position: absolute;
    left: 49%;
}
.rangees__inner {
    display: flex;
    gap: 3px;
    color: var(--color-grayest);
}
.formatting-end,
.formatting-start,
.formatting-end-square,
.formatting-start-square {
    color: var(--color-black);
}
.selection__form {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: calc(50% - 100px);
    border-radius: var(--border-raduis-defalut);
    padding: 50px 55px;
}
#house-list > .dropdown-select-selected {
    background-color: var(--color--background) !important;
    color: var(--color-grayest);
    z-index: 2;
}
#house-list > .dropdown-select-items > div {
    background-color: var(--color--background) !important;
    color: var(--color-grayest);
    z-index: 2;
}
.noUi-base {
    margin: 0 auto;
    display: block;
}
.selection__item {
    display: flex;
    flex-direction: column;
}

.square__input {
    max-width: 318px;
    background-color: var(--color--background);

    font-weight: 700;
}
.selection__heading {
    font-weight: 700;
    font-size: 42px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--color-black);
}
.floors__input + .floors__label {
    display: block;
    width: fit-content;
    background-color: var(--color--background);
    padding: 20px;
    border-radius: var(--border-raduis-defalut);
    transition: 0.2s;
    cursor: pointer;
}
.floors__input {
    display: none;
}

.floors__input:checked + .floors__label {
    background-color: var(--color-pink);
    color: var(--color-red);
}
.floors__wrapper {
    display: flex;
    gap: 10px;
}
.floors__label {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-black);
}
.project-filter__item {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.selection__submit {
    width: fit-content;
}
.selection__slide > .selection__label {
    margin-bottom: 10px;
    padding: 0;
    display: block;

    color: var(--color-grayest);
}
.selection-input__label,
.selection__label {
    color: var(--color-grayest);
}
.selection__label {
    padding-bottom: 10px;
}
.selection__option {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.floors__item--last {
    width: 100%;
}
.selection__wrapper {
    padding: 50px;
    background-image: url(/resources/images/mortgage/form.png);
    border-radius: var(--border-raduis-defalut);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 1690px) {
    .floors__wrapper {
        flex-wrap: wrap;
    }
}
@media (max-width: 1200px) {
    #house-list > .dropdown-select-selected {
        padding: 10px;
        font-family: "Raleway", sans-serif;
        font-size: 12px;
    }
    .dropdown-select-items div,
    .dropdown-select-selected {
        padding: 10px;
        font-size: 12px;
    }
    .dropdown-select-selected:after {
        top: 6px;
    }
    .selection__wrapper {
        padding-top: 150px;
        padding: 20px;
    }
    .selection-input__rangees,
    .floors__label {
        padding: 10px;
        font-size: 12px;
    }
    .selection__label ~ .default__input {
        padding: 10px;
        font-size: 12px;
        font-family: "Raleway", sans-serif;
    }
    .selection__heading {
        font-size: 24px;
    }

    .selection__label {
        font-size: 12px;
    }
    .selection__form {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        margin-top: 132px;
        padding: 20px;
    }
    .selection__wrapper {
        padding: 0;
        padding-top: 2px;
    }
    .selection__wrapper {
        background-position: top;
        background-size: 100%;
    }
    .floors__input + .floors__label {
        padding: 10px;
        width: fit-content;
    }
    .selection {
        padding-bottom: 40px;
    }
}
@media (max-width: 768px) {
    .selection__container {
        flex-direction: column;
    }
}
