.project-item__swiper {
    position: relative;
    margin-top: -50px;
}
.project-item__wrapperes,
.project-item__slide {
    min-height: calc(100vh - 50px);
    background-color: rgb(240, 239, 241);
}
.project-item__slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project-item__swiper .project-item__path {
    position: absolute;
    top: 15px;
    left: 0;
}
.project-item__swiper > .path__wrapper {
    position: absolute;
    top: 54px;
    left: 150px;
    z-index: 2;
}
.project-item__wrapperes ~ .project-item__prev::after {
    content: url(/resources/images/swiper/next.svg);
    transform: rotate(180deg);
    margin-bottom: 11px;
    position: absolute;
    left: 150px;
}
.project-item__wrapperes ~ .project-item__next::after {
    content: url(/resources/images/swiper/next.svg);
    position: absolute;
    right: 150px;
}
.toltip-button__img {
    width: 20px;
    height: 20px;
}
.tooltip {
    position: relative;
    display: block;
    margin-top: 3px;

    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    top: -5px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.project-info {
    background-color: white;
    border-radius: var(--border-raduis-defalut);
    padding-top: 100px;
    margin-top: -50px;
    position: relative;
    z-index: 1;
}
.header-section {
    display: flex;
    justify-content: space-between;
}
.header-section__item {
    display: flex;
    color: var(--color-black);
}

.header-section__placenamer {
    font-weight: 700;
    font-size: 25px;
    color: var(--color-grayest);
}
.header-section__name {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
}
.header-section__about {
    font-weight: 700;
    font-size: 25px;
    color: var(--color-grayest);

    display: flex;
    gap: 5px;
    align-items: center;
}
.project-settings__card {
    padding: 30px;
    border-radius: var(--border-raduis-defalut);
    background: var(--color-pink);
    color: var(--color-red);
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.project-settings {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 50px 0;
}
.project-settings__header {
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    color: var(--color-red);
}
.project-hr {
    opacity: 0.3;
}
.header-section__item {
    display: flex;
    gap: 55px;
    align-items: flex-end;
}
.header-section__value {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
}
.header-section__asd {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-project {
    display: flex;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.about-project__text {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-project__list {
    max-width: 785px;
}
.about-project__button-img {
    width: 24px;
    height: 24px;
}

.about-project__button {
    padding: 20px;
    gap: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-project__mach {
    padding: 20px;
    background-color: var(--color-pink);
    color: var(--color-red);
    display: flex;
    align-items: center;
}
.about-project__option {
    display: flex;
    gap: 30px;
}
.about-project__list {
    height: 500px;
}
.about-project__swiper {
    border-radius: var(--border-raduis-defalut);
    height: 500px;
}
.about-project__swiper * .swiper-pagination-bullet {
    width: 40px;
    height: 8px;
    background-color: var(--color-pink);
    border-radius: 35px;
    opacity: 1;
    transition: 0.2s;
}
.about-project__swiper * .swiper-pagination-bullet-active {
    width: 71px;

    position: relative;
}
.about-project__swiper
    .swiper-pagination.about-project__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px;
}
@keyframes progres {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.about-project__swiper .swiper-pagination-bullet-active::after {
    content: "";
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    width: 71px;
    height: 8px;
    border-radius: 35px;
    background-color: var(--color-red);
    animation: progres 5.2s forwards linear;
}
.about__image {
    display: flex;
    min-width: 200px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(100, 103, 119);
    border-radius: var(--border-raduis-defalut);
}
.project-preview__option {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    gap: 50px;
}
.about-project__h1 {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
}
.about-project__paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.about-project__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-preview__button {
    color: var(--color-red);
    background-color: var(--color-pink);
}
.project-preview__button-active {
    color: white;
    background-color: var(--color-red);
}
.project-preview__item {
    display: flex;
    width: 100%;
    height: 711px;
    background: rgb(255, 255, 255);
    border-radius: var(--border-raduis-defalut);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project-preview__wrapper {
    padding-bottom: 50px;
}
.change-plan {
    display: flex;
    padding: 30px 90px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: var(--border-raduis-defalut);
    align-items: center;
    justify-content: space-between;
}
.change-plan__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.change-plan__header {
    font-weight: 700;
    font-size: 25px;
    color: var(--color-black);
}
.change-plan__paraf {
    font-weight: 500;
    font-size: 16px;
    max-width: 1160px;
    color: var(--color-grayest);
    font-feature-settings: "pnum" on, "lnum" on;
}
.mortgage-calc {
    padding-top: 100px;
    padding-bottom: 100px;
}

.project-mortgage__slide {
    background-color: white;
    border-radius: var(--border-raduis-defalut);
}
.project-mortgage__inner {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-mortgage {
    margin-bottom: 100px;
}
.project-mortgage * .swiper-button-next,
.swiper-button-prev {
    z-index: 1;
}
.project-mortgage * .swiper-button-prev {
    z-index: 1;
}
.project-mortgage__h1 {
    font-weight: 700;
    font-size: 25px;
    color: var(--color-black);
}

.project-mortgage__container {
    position: relative;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.project-mortgage__container > .project-mortgage__prev {
    left: 0px;
}

.project-mortgage__container > .project-mortgage__next {
    right: 0px;
}
.project-mortgage * .project-mortgage__prev::after {
    z-index: 1;
    content: url(/resources/images/swiper/next.svg);
    transform: rotate(180deg);
}
.project-mortgage * .project-mortgage__next::after {
    content: url(/resources/images/swiper/next.svg);
}
.project-mortgage__swiper {
    width: 1480px;
}
.project-mortgage__link {
    width: fit-content;
}
.project-mortgage__heading {
    font-weight: 700;
    font-size: 31px;
    color: var(--color-black);
    margin-bottom: 50px;
}
.stability {
    background-color: white;
    padding-top: 100px;
    border-top-right-radius: var(--border-raduis-defalut);
    border-top-left-radius: var(--border-raduis-defalut);
}
.stability__wrapper {
    padding-top: 50px;
    display: flex;
    gap: 50px;
}
.stability__header {
    display: flex;
    justify-content: space-between;
}
.stability__heading {
    font-weight: 700;
    font-size: 42px;

    color: var(--color--black);
}
.stability__paraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    font-feature-settings: "pnum" on, "lnum" on;

    color: var(--color-grayest);
}
.stability-card {
    padding: 50px;
    color: var(--color-red);
    background-color: var(--color-beige);
    border-radius: var(--border-raduis-defalut);

    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 25%;
}
.stability-card__heading {
    display: flex;
    gap: 4px;
    align-items: flex-end;
    font-weight: 500;
    font-size: 16px;
}
.stability-card__big {
    font-weight: 500;
    font-size: 60px;
    line-height: 50px;
}
.stability-card__paraf {
    color: var(--color-grayest);
}

.more-projects__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-projects__wrapper {
    display: flex;
    gap: 50px;
}
.more-projects__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
}
.more-projects {
    padding-top: 100px;
    padding-bottom: 115px;
}
.more-projects__heading {
    margin-bottom: 52px;
}
.project-embed {
    border-radius: var(--border-raduis-defalut);
}
.facade-inner {
    display: flex;
    flex: 1;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    min-width: 300px;
    width: 100%;
}
.facade-swiper {
    border-radius: var(--border-raduis-defalut);
}
.facade-swiper * .swiper-pagination-bullet {
    width: 40px;
    height: 8px;
    background-color: var(--color-pink);
    border-radius: 35px;
    opacity: 1;
    transition: 0.2s;
}
.facade-swiper * .swiper-pagination-bullet-active {
    width: 71px;

    position: relative;
}
.facade-swiper
    .swiper-pagination.facade-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px;
}

.facade-swiper .swiper-pagination-bullet-active::after {
    content: "";
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    width: 71px;
    height: 8px;
    border-radius: 35px;
    background-color: var(--color-red);
    animation: progres 5.2s forwards linear;
}
.project-preview__item--video {
    height: auto;
    background-color: transparent;
    max-width: calc(16 / 9 * 100vh);
}
.project-video {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: inherit;
}
.facade {
    display: none;
}

.d3 {
    display: none;
}

@media (max-width: 1890px) {
    .project-mortgage__container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 1620px) {
    section,
    header,
    footer {
        padding: 0 calc(50% - 690px);
    }
}
@media (max-width: 1440px) {
    section,
    header,
    footer {
        padding: 0 calc(50% - 368px);
    }
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
