.mortgage-list__item {
    border-radius: var(--border-raduis-defalut);
    padding: 38px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    background-color: white;
}
.mortgage-list__heading {
    font-weight: 500;
    font-size: 60px;
    color: var(--color-red);
    margin-top: -15px;
}
.mortgage {
    color: var(--color-black);
}
.mortgage__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 785px;
}
.mortgage__heading {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    font-feature-settings: "pnum" on, "lnum" on;
}
.mortgage__paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.mortgage__option {
    display: flex;
    gap: 70px;

    padding-top: 70px;
}
.mortgage__paraf--red {
    font-weight: 700;
    color: var(--color-red);
}
.mortgage-list {
    display: flex;
    gap: 50px;

    padding-top: 81px;
}
.mortgage-prog {
    padding-top: 100px;
}
.mortgage-prog__info {
    color: var(--color-grayest);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mortgage-prog__option {
    padding-top: 50px;
    display: flex;
    gap: 50px;
}
.mortgage-prog__paraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    font-feature-settings: "pnum" on, "lnum" on;
}
.mortgage-prog__wrapper {
    background-color: white;
    border-radius: var(--border-raduis-defalut);

    padding: 80px 90px;
}
.mortgage-prog__img {
    border-radius: var(--border-raduis-defalut);
}
.mortgage-prog__section {
    display: none;
    gap: 50px;
    padding-top: 50px;
}
.mortgage-prog__heading {
    font-weight: 700;
    font-size: 42px;
}
.mortgage-prog__button {
    color: var(--color-red);
    background-color: var(--color-beige);
}
.mortgage-prog__button-active {
    background-color: var(--color-red);
    color: white;
}
.main-page .mortgage-calc {
    padding-top: 106px;
}
.main-page .order-consultation {
    background-color: transparent;
}
.main-page .order-consultation__wrapper {
    background-color: white;
}
.main-page .order-consultation__input {
    background-color: var(--color--background);
}

.adv {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.adv-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-beige);
    padding: 50px;
    border-radius: var(--border-raduis-defalut);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.adv-card__heading {
    font-weight: 700;
    font-size: 25px;
    color: var(--color-red);
}

.adv-card__paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.adv__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* width: calc(30% + 50px); */
    /* height: 100px; */

    gap: 50px;
}
.adv__wrapper {
    display: flex;
    /* gap: 50px; */
}
.adv-card {
    max-width: 200px;
    justify-content: space-between;
}
.adv-person {
    min-width: 368px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.adv-card--first,
.adv-card--last {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.adv-card--first {
    padding: 0;
    min-width: 507px;
}
.adv-card:nth-child(4) {
    max-width: 265px;
}
.adv-card:nth-child(5) {
    max-width: 265px;
}
.adv-card:nth-child(6) {
    min-width: 265px;
}
.adv-person__img {
    border-radius: var(--border-raduis-defalut);
    max-width: 360px;
}
.adv-person__name {
    margin-bottom: 7px;
}
.adv__heading {
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 50px;
}
.adv-call__text,
.adv-call__img {
    cursor: pointer;
}
.adv-call {
    display: flex;
    gap: 50px;
    padding-top: 50px;
}
.adv-call__link {
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    flex: 1 1 100%;
    background-color: var(--color--background);

    border-radius: var(--border-raduis-defalut);
    font-weight: 700;
    font-size: 25px;
}
.adv-call__img {
    width: 46px;
    height: 46px;
}
.mortgage-list__paraf {
    font-weight: 700;
}
.mortgage-c__button {
    background-color: var(--color-pink);
    color: var(--color-red);
}
@media (max-width: 1440px) {
    .mortgage-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mortgage-list__item {
        padding: 26px 20px;
    }
    .mortgage-prog__section {
        flex-direction: column;
    }
}
@media (max-width: 1200px) {
    .mortgage-prog__section {
        flex-direction: column;
    }
    .adv__wrapper {
        flex-direction: column;
    }
    .adv-call {
        flex-direction: column;
    }
    .mortgage-prog__option {
        overflow-x: scroll;
        width: calc(100vw - 80px);
    }
    .mortgage-prog__option::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
        border-radius: 1px;
        background-color: #f5f5f500;
    }

    .mortgage-prog__option::-webkit-scrollbar {
        width: 1px;
        background-color: #f5f5f500;
    }

    .mortgage-prog__option::-webkit-scrollbar-thumb {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
        background-color: rgba(85, 85, 85, 0);
    }

    .adv-card:nth-child(6) {
        min-width: -webkit-fill-available;
    }
    .adv-person__img {
        min-width: -webkit-fill-available;
    }
    .mortgage-prog__button {
        padding: 12px 15px;
    }
}
@media (max-width: 992px) {
    .mortgage-list__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .adv-card {
        max-width: fit-content;
    }
    .mortgage-list {
        gap: 20px;
    }
    .mortgage__option {
        padding-top: 20px;
        flex-direction: column;
        gap: 20px;
    }
    .mortgage__option > .default__button {
        width: max-content;
    }
    .mortgage-prog__heading,
    .adv__heading,
    .mortgage__heading {
        font-size: 24px;
    }
    .mortgage__paraf,
    .mortgage-list__paraf,
    .mortgage-prog__paraf {
        font-size: 12px;
    }
    .mortgage-prog__info {
        gap: 10px;
    }
    .mortgage-prog {
        padding-top: 40px;
    }
    .mortgage-prog__wrapper {
        padding: 20px;
    }
    .mortgage-list {
        padding-top: 40px;
    }
    .main-page > .mortgage-calc {
        padding-top: 40px;
    }
    .adv-call__link {
        padding: 20px;
        font-weight: 700;
        font-size: 16px;
    }
    .mortgage-prog__section {
        padding-top: 15px;
    }
    .adv-card:nth-child(4) {
        max-width: max-content;
    }
    .adv-card:nth-child(5) {
        max-width: fit-content;
    }
    .adv-person {
        margin-top: 20px;
        min-width: fit-content;
    }
    .adv-card {
        padding: 20px;
        gap: 20px;
    }
    .adv-card--last,
    .adv-card--first {
        height: 200px;
    }
    .adv-card--first {
        min-width: -webkit-fill-available;
    }
    .mortgage-prog__section {
        gap: 20px;
    }
    .adv__list {
        gap: 20px;
    }
    .adv-card__heading {
        font-size: 16px;
    }
    .adv {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .adv-call {
        padding-top: 20px;
        gap: 20px;
    }
    .mortgage-prog__option {
        gap: 20px;
    }
}
