.mortgage-list__item {
    border-radius: 50px;
    padding: 38px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    background-color: white;
}
.mortgage-list__heading {
    font-weight: 500;
    font-size: 60px;
    color: var(--color-red);
    margin-top: -15px;
}
.mortgage {
    color: var(--color-black);
}
.mortgage__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 785px;
}
.mortgage__heading {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    font-feature-settings: "pnum" on, "lnum" on;
}
.mortgage__paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.mortgage__option {
    display: flex;
    gap: 70px;

    padding-top: 70px;
}
.mortgage__paraf--red {
    font-weight: 700;
    color: var(--color-red);
}
.mortgage-list {
    display: flex;
    gap: 50px;

    padding-top: 81px;
}
.mortgage-prog {
    padding-top: 100px;
}
.mortgage-prog__info {
    color: var(--color-grayest);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mortgage-prog__option {
    padding-top: 50px;
    display: flex;
    gap: 50px;
}
.mortgage-prog__paraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    font-feature-settings: "pnum" on, "lnum" on;
}
.mortgage-prog__wrapper {
    background-color: white;
    border-radius: 50px;

    padding: 80px 90px;
}
.mortgage-prog__img {
    border-radius: 50px;
}
.mortgage-prog__section {
    display: none;
    gap: 50px;
    padding-top: 50px;
}
.mortgage-prog__heading {
    font-weight: 700;
    font-size: 42px;
}
.mortgage-prog__button {
    color: var(--color-red);
    background-color: var(--color-beige);
}
.mortgage-prog__button-active {
    background-color: var(--color-red);
    color: white;
}
.main-page .mortgage-calc {
    padding-top: 106px;
}
.main-page .order-consultation {
    background-color: transparent;
}
.main-page .order-consultation__wrapper {
    background-color: white;
}
.main-page .order-consultation__input {
    background-color: var(--color--background);
}

.adv {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.adv-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-beige);
    padding: 50px;
    border-radius: 50px;
}
.adv-card__heading {
    font-weight: 700;
    font-size: 25px;
    color: var(--color-red);
}

.adv-card__paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.adv__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* width: calc(30% + 50px); */
    /* height: 100px; */

    gap: 50px;
}
.adv__wrapper {
    display: flex;
    /* gap: 50px; */
}
.adv-card {
    max-width: 200px;
    justify-content: space-between;
}
.adv-person {
    min-width: 368px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.adv-card--first,
.adv-card--last {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.adv-card--first {
    padding: 0;
    min-width: 507px;
}
.adv-card:nth-child(4) {
    max-width: 265px;
}
.adv-card:nth-child(5) {
    max-width: 265px;
}
.adv-card:nth-child(6) {
    min-width: 265px;
}
.adv-person__img {
    border-radius: 50px;
}
.adv-person__name {
    margin-bottom: 7px;
}
.adv__heading {
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 50px;
}
.adv-call {
    display: flex;
    gap: 50px;
    padding-top: 50px;
}
.adv-call__link {
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    flex: 1 1 100%;
    background-color: var(--color--background);

    border-radius: 50px;
    font-weight: 700;
    font-size: 25px;
}
.adv-call__img {
    width: 46px;
    height: 46px;
}
