.blog-filter__option {
    display: flex;
    gap: 50px;
}
.blog-filter .path__wrapper {
    padding-bottom: 34px;
}
.blog-filter__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
}
.blog-filter__option {
    padding-top: 30px;
}
.blog-filter__info {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.article-list {
    padding-top: 100px;
}
.article-list * .dropdown-select-selected {
    padding-left: 50px;
}
.custom-select-dropdown {
    max-width: 332px;
}
.article-list * .dropdown-select-selected::before {
    content: url(/resources/images/icons/bm.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.article-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
}
.subscribe__wrapper {
    background-color: var(--color-pink);
    border-radius: var(--border-raduis-defalut);
    display: flex;
    padding: 50px 90px;
    gap: 50px;
}
.subscribe__img {
    border-radius: var(--border-raduis-defalut);
}
.subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
}
.sub-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}
.sub-form__input {
    font-weight: 700;
    font-size: 16px;
    outline: none;
    padding: 15px 20px;
    min-width: 255px;
}
.subscribe__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-red);
}
.subscribe__paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-black);

    margin-top: 20px;
}
.sub-details__text {
    color: var(--color-grayest);

    font-weight: 500;
    font-size: 12px;

    display: flex;
    gap: 4px;
    margin-top: 10px;
}
.sub-details__link {
    color: var(--color-red);
    font-size: 12px;
}
.subscribe__info {
    width: 556px;
}
.article-bottom__option {
    padding: 48px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.article__more {
    color: var(--color-red);
    background-color: var(--color-pink);
}
.article__up {
    color: var(--color-red);
    background-color: white;
}
.blog-filter__button {
    color: var(--color-red);
    background-color: var(--color-pink);
}
.blog-filter__button-active {
    background-color: var(--color-red);
    color: white;
}
.sub__thx {
    display: none;
    text-align: center;
    padding: 15px;
}
.main-page > .reels {
    background-color: transparent;
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
    .blog-filter__option {
        flex-wrap: wrap;
    }
    .subscribe__wrapper {
        flex-direction: column;
    }
    .sub-form {
        flex-direction: column;
    }
    .sub-form {
        flex: 1;
    }
    .blog-filter__option {
        gap: 20px;
    }
    .article-list {
        padding-top: 40px;
    }
    .article-item {
        padding: 20px;
    }
    .subscribe__wrapper {
        padding: 20px;
    }
    .subscribe__heading {
        font-size: 24px;
    }
    .subscribe__info {
        width: fit-content;
    }
    .article-list__wrapper {
        gap: 20px;
        padding-top: 40px;
    }
    .article-bottom__option {
        padding: 20px;
        padding-bottom: 40px;
        gap: 20px;
    }
    .blog-filter__button {
        padding: 12px 15px;
        min-width: max-content;
    }
    .blog-filter__heading {
        font-size: 24px;
    }
    .sub-form__input {
        min-width: fit-content;
        padding: 12px 20px;
        font-size: 12px;
    }
    .sub-form {
        gap: 20px;
    }
    .sub-details__link {
        font-size: 10px;
    }
    .sub-details__text {
        font-size: 10px;
    }
    .sub-details__text {
        display: inline-block;
    }
    .sub-form {
        padding-top: 15px;
        align-items: flex-start;
    }
    .sub-form__input {
        width: -webkit-fill-available;
    }
}
@media (max-width: 768px) {
    .blog-filter__option {
        flex-wrap: nowrap;
        width: calc(100vw - 40px);
        overflow-x: scroll;
    }
    .blog-filter__option::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
        border-radius: 1px;
        background-color: #f5f5f500;
    }
    .blog-filter__option::-webkit-scrollbar {
        width: 1px;
        background-color: #f5f5f500;
    }
    .blog-filter__option::-webkit-scrollbar-thumb {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
        background-color: rgba(85, 85, 85, 0);
    }
    .blog-filter__info,
    .article-list__wrapper {
        padding-top: 20px;
    }
    .dropdown-select-items div,
    .dropdown-select-selected {
        padding: 11px 30px;
        font-size: 12px;
    }
    .dropdown-select-selected:after {
        top: 6px;
    }
    .article-list * .dropdown-select-selected::before {
        top: 4px;
    }
    .subscribe {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
