.blog-filter__option {
    display: flex;
    gap: 50px;
}
.blog-filter .path__wrapper {
    padding-bottom: 34px;
}
.blog-filter__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-black);
}
.blog-filter__option {
    padding-top: 30px;
}
.blog-filter__info {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grayest);
}
.article-list {
    padding-top: 100px;
}
.article-list * .dropdown-select-selected {
    padding-left: 50px;
}
.custom-select-dropdown {
    max-width: 332px;
}
.article-list * .dropdown-select-selected::before {
    content: url(/resources/images/icons/bm.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.article-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
}
.subscribe__wrapper {
    background-color: var(--color-pink);
    border-radius: var(--border-raduis-defalut);
    display: flex;
    padding: 50px 90px;
    gap: 50px;
}
.subscribe__img {
    border-radius: var(--border-raduis-defalut);
}
.subscribe {
    padding-top: 50px;
}
.sub-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.sub-form__input {
    font-weight: 700;
    font-size: 16px;
    outline: none;
    padding: 15px 20px;
    min-width: 255px;
}
.subscribe__heading {
    font-weight: 700;
    font-size: 42px;
    color: var(--color-red);
}
.subscribe__paraf {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-black);

    margin-top: 20px;
}
.sub-details__text {
    color: var(--color-grayest);

    font-weight: 500;
    font-size: 12px;

    display: flex;
    gap: 4px;
    margin-top: 10px;
}
.sub-details__link {
    color: var(--color-red);
}
.subscribe__info {
    width: 556px;
}
.article-bottom__option {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.article__more {
    color: var(--color-red);
    background-color: var(--color-pink);
}
.article__up {
    color: var(--color-red);
    background-color: white;
}
@media (max-width: 1200px) {
}
