.mob-list__img {
    width: 24px;
    transition: 0.2s;
}
.mob-list__span,
.mob-list__link {
    font-size: 16px;
    cursor: pointer;
}
.mob-list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
}
.mob-list__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.mob-list__ul {
    display: none;
    flex-direction: column;
    gap: 15px;
    transition: 0.2s;
}
.mob-list__ul--active {
    display: flex;
}
.icon--active {
    transform: rotate(180deg);
}
.mob-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mob__hr {
    opacity: 0.4;
}
.mob-list__span,
.mob-list__link,
.mob__link {
    color: var(--color-black);
}
.mob-list {
    padding-top: 40px;
    padding-bottom: 40px;
}
.mgeo__button {
    background-color: var(--color-pink);
    padding: 8px 25px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 20px;
}
.mgeo__text {
    color: var(--color-red);
}
.mgeo-city__list {
    padding-bottom: 0px;
    gap: 20px;
    flex-direction: column;
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;  
    transition: padding-bottom 0.1s;  
    overflow: hidden;
    max-height: 0;
}
.mgeo-city__list--active {
    max-height: 500px;
    padding-bottom: 40px;
    display: flex;
}
.mgeo-city__link {
    color: var(--color-black);
    transition: 0.3s;
}
.mgeo-city__link:visited {
    color: var(--color-black);
}
.mgeo-city__link:hover {
    opacity: 0.6;
}